@import "https://code.highcharts.com/css/highcharts.css";

/* POLICES */
@font-face {
    font-family: Asap regular;
    src: url('../fonts/Asap-Regular.ttf');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --clr-text : #FFFCF2;
    --clr-text-dark: #1E1E24;
    --clr-bg-light: #CAF0F8;
    --clr-bg: #00B4D8;
    --clr-accent: #90E0EF;
    --clr-accent-light: #0077B6;
    --clr-accent-dark: #02044F;

    width: 100%; height: 100%;
    font-size: 18px;
    color: var(--clr-text-dark);
    scroll-behavior: smooth;
}
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Asap regular, sans-serif;
    background-color: var(--clr-accent);
    margin: 0; padding: 0;
}
main {
    position: relative;
    /*min-height: 100vh;*/
    width: 100%; height: 100%;
    display: grid;
    grid-template-columns: .65fr minmax(auto, 3fr) .65fr;
    margin-bottom: 3em;
}
section {
    grid-column: 2;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
#welcome {
    display: block;
    margin: 0 auto;
    text-align: center;
}
section#welcome h1{
    font-size: 2em;
    text-decoration: underline #0077B6;
}
section#welcome h2 {
    font-size: 1.5em;
    text-decoration: unset;
}
section#welcome > div {
    display: flex;
    flex-direction: column;
    row-gap: 4em;
}
section#welcome a {
    color: #1E1E24;
    text-decoration: underline #0077B6;
}
section.stats {
    grid-column: 1/4;
    width: 100%;
    height: 100%;
}
section .title {
    display: flex;
    justify-content: center;
    align-items: center;
}
section .title:hover {
    cursor: pointer;
}
section h2 {
    font-size: 2em;
    text-align: center;
    text-decoration: underline #0077B6;
}
section h3 {
    text-align: center;
}
section .fas {
    margin-left: 11px;
    font-size: 1em;
}
a {
    color: var(--clr-text);
    text-decoration: none;
}
a::after {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%; height: 100%;
    transform: scale(0,1);
    color: var(--clr-accent-light);
    animation: ease-in 0.5s forwards;
}
a:hover::after {
    color: var(--clr-accent-light);
    transform: scale(1);
}
.navbar {
    font-size: 2em;
    background-color: var(--clr-accent-light);
    color: var(--clr-text);
    width: 100%; height: 3em;
}
.navbar ul {
    margin: inherit; padding: inherit;
    width: 100%; height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.navbar li {

}

footer {
    background-color: var(--clr-accent-light);
    bottom: 0;
    width: 100%;
    height: 2.5rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer p a {
    color: #FFFCF2;
}

/* ------------ PAGE RECHERCHE ------------ */
/* Barre de recherche */
header {
    background-color: var(--clr-accent-light);
    width: 100%;
    padding: .8em .5em;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 250px;
}
.searchbar {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5em;
    box-sizing: border-box;
}
.searchbar-and-select {
    align-self: center;
    display: flex;
    justify-content: center;
}
.searchbar-and-select > * {
    border: 1.5px solid var(--clr-accent-light);
    color: var(--clr-text-dark);
    font-size: 1em;
    padding: 0 0 0 15px;
}
.searchbar input[type=text] {
    width: 450px; height: 2em;
    border-right: unset;
}
.searchbar select {
    width: 150px; height: 2em;
    border-left: unset;
}
::placeholder, select {
    color: var(--clr-text-dark);
    font-family: Asap regular, sans-serif;
}
.searchbar input[type=submit] {
    background-color: var(--clr-bg);
    color: var(--clr-text);
    font-family: Asap regular, sans-serif;
    font-size: 1em;
    width: 150px; height: 40px;
    cursor: pointer;
    border-style: none;
    transition-duration: .5s;
}
.searchbar input[type=submit]:hover {
    cursor: pointer;
    color: var(--clr-text-dark);
}



#buttons {
    margin-top: 2em;
    display: none;
    justify-content: center;
    column-gap: 1em;
}
#buttons button {
    color: var(--clr-text-dark);
    font-family: Asap regular, sans-serif;
    border: 1.5px solid var(--clr-accent-light);
    font-size: .8em;
    padding: 1em;
    transition-duration: .5s;
}
#buttons button:hover {
    cursor: pointer;
    background-color: var(--clr-bg);
}

#nbResultats {
    text-align: center;
}

/* AgGrid */
.grid-wrapper {
                height: 60em;
                display: flex;
                flex-direction: column;
            }
#myGrid {
    flex: 1 1 0;
}
#myGrid .ag-header-row {
    background-color: rgb(248, 248, 248);
}
#myGrid .ag-cell {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    line-height: 21px;
}
#myGrid .ag-theme-alpine .ag-row {
    /*overflow-y: auto;*/
    background-color: red;
}
.rag-green {
    background-color: lightgreen;
}
.rag-amber {
    background-color: lightsalmon;
}

/* HighCharts */
#container-stats {
    display: block;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 500px;
    margin: 1em 10em;
}

.highcharts-figure > div {
    width: 100%;
}
.camamberts {
    display: flex;
    flex-wrap: wrap;
    column-gap: .5px;
}
.camamberts > div {
    width: 49.95%;
}

#highcharts {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.highcharts-pie-series .highcharts-point {
    stroke: #ede;
    stroke-width: 2px;
}

.highcharts-pie-series .highcharts-data-label-connector {
    stroke: silver;
    stroke-dasharray: 2, 2;
    stroke-width: 2px;
}


.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/* Cartographie */
.map-container {
    width: 75%;
    height: 750px;
    margin: 1em auto 5em;
}
#map {
    width: 100%;
    height: 100%;
}